<div class="container">

  <div class="row">
    <%= render "sidebar" %>
  </div>
    <div id="top" class="col-sm-8 offset-sm-1" style="background-color :pink">
      <p>ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>

  <div class="row offset-sm-3">
    <h2>新着商品</h2>
  </div>
  <div class="row offset-sm-3">
    <% @items.first(4).each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="card w-50">
        <%= attachment_image_tag item, :image, format: 'jpeg', size: "120x100" %><br>
        <%= item.name %><br>
        <%= item.price %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row offset-sm-3">
    <%= link_to "全ての商品を見る >", items_path, class: "ml-auto" %>
  </div>

</div>