<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %><i class="fas fa-birthday-cake"></i>ながのCAKE<%end%>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <!--会員がログインしているとき-->
        <% if customer_signed_in? %>
          <li>
            ようこそ、<%= current_customer.last_name %>さん！
          </li>
          <li>
            <%= link_to "マイページ", customers_path %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path %>
          </li>
          <li>
            <%= link_to "カート", cart_items_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>

        <!--管理者がログインしているとき-->
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "商品一覧", admin_items_path %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", admin_root_path %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

        <!--ログインしていないとき-->
        <% else %>
          <li>
            <%= link_to about_path do %>About<% end %>
          </li>
          <span>　|　</span>
          <li>
            <%= link_to items_path do %>商品一覧<% end %>
          </li>
          <span>　|　</span>
          <li>
            <%= link_to new_customer_registration_path do %>新規登録<% end %>
          </li>
          <span>　|　</span>
          <li>
            <%= link_to new_customer_session_path do %>ログイン<% end %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>