<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
  </head>

  <body class='<%= controller.controller_name %> mb-5'>
    <%= render 'layouts/header' %>

    <%= yield %>
  </body>
</html>
